@font-face {
  font-family: 'iconfont';  /* Project id 2913109 */
  src: url('https://at.alicdn.com/t/font_2913109_air8v3ikka.woff2?t=1636514585594') format('woff2'),
       url('https://at.alicdn.com/t/font_2913109_air8v3ikka.woff?t=1636514585594') format('woff'),
       url('https://at.alicdn.com/t/font_2913109_air8v3ikka.ttf?t=1636514585594') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazai:before {
  content: "\e7ba";
}

.icon-circleyuanquan:before {
  content: "\e71e";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-wifi:before {
  content: "\e7e0";
}

.icon-xinhao:before {
  content: "\e61f";
}

.icon-electricity-full:before {
  content: "\e996";
}

.icon-xuanzeweixuanze:before {
  content: "\e67b";
}

.icon-yixuanze:before {
  content: "\e656";
}

.icon-chenggong1:before {
  content: "\e8ad";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-yishenpi:before {
  content: "\e665";
}

.icon-yaoqingmatianchong:before {
  content: "\e637";
}

.icon-jiarubanji:before {
  content: "\e65d";
}

.icon-shuliang-zengjia_o:before {
  content: "\eb83";
}

.icon-bokeyuan:before {
  content: "\e624";
}

.icon-sourceforge:before {
  content: "\e67d";
}

.icon-csdn:before {
  content: "\e606";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-duigoux:before {
  content: "\ec9e";
}

.icon-github:before {
  content: "\e63a";
}

.icon-ren111:before {
  content: "\e623";
}

.icon-Git:before {
  content: "\e610";
}

.icon-git-merge:before {
  content: "\e618";
}

.icon-tijiao:before {
  content: "\e67a";
}

.icon-shoucang1:before {
  content: "\e667";
}

.icon-fanhui:before {
  content: "\e605";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-weixuanzhongyuanquan:before {
  content: "\e604";
}

.icon-bi:before {
  content: "\e602";
}

.icon-lajitong:before {
  content: "\e652";
}

.icon-renwuqingdan:before {
  content: "\e6f9";
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-shoucangjia:before {
  content: "\e672";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-24gl-clipboardChecklist:before {
  content: "\eabb";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-huore:before {
  content: "\e600";
}

.icon-xiahuaxian:before {
  content: "\e615";
}

.icon-chenggong:before {
  content: "\e60b";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-chahao:before {
  content: "\e617";
}

.icon-qm:before {
  content: "\e646";
}

.icon-quxiao:before {
  content: "\e60f";
}

.icon-withdraw:before {
  content: "\e603";
}

.icon-zengjia:before {
  content: "\e889";
}

